volumes/
.ipynb_checkpoints/
data/
.parquet
.json
drivers/
logs/

# Pandas pipeline
pandas_pipeline/volumes/

# Spark pipeline
pyspark_pipeline/volumes/

# Airflow
pyspark_pipeline/logs/
pyspark_pipeline/plugins/__pycache__/

# Виртуальное окружение
venv/
.venv/
env/

# Кэш и байт-код
__pycache__/
*.pyc

# Скомпилированные файлы
*.egg-info/
.eggs/

# Файлы и папки специфичные для редакторов/IDE
.vscode/
.idea/
*.swp

# Файлы с конфигурацией
.env
.env.*

# Логи и временные файлы
*.log
tmp/

# Файлы зависимостей
*.egg
dist/
build/